.Wrapper {
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.Modal {
    position: fixed;
    inset: 5rem;
    display: flex;
    background-color: white;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Backdrop {
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    position: absolute;
    inset: 0;
}

.CloseButton {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1200;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all 200ms;
}
.CloseButton:hover svg {
    stroke: var(--accent-color)
}
@media screen and (max-width: 768px) {
    .Modal {
        inset: 0;
    }
}