.SeedScreen {
    padding: 2rem;
}

.Navigation {
    display: flex;
    gap: 1rem;
}

.NavigationLink {
    flex-basis: 50%;
    background-color: lightblue;
    text-align: center;
    padding: .5rem 1rem;
}