.Month {
    min-height: 40vh;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .4rem 0;
    padding: 0 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.AvailableSeeds {
    margin-bottom: 1rem;
}


.MonthName {
    text-align: center;
    color: var(--green);
    font-weight: 600;
    padding-top: 1rem;
    padding-left: 1rem;
}

.TodoList {
    padding-bottom: 1rem;
}

.Todo {
    cursor: pointer;
    padding: .25rem .5rem;
    height: 36px;
    border-radius: 2px;
}

.Todo svg {
    background-color: var(--green);
    border-radius: 50%;
    stroke: white;
    stroke-width: 3px;
}

.Todo:hover {
    background-color: lightgray;
}

.Seed,
.Todo,
.Icon {
    display: flex;
    align-items: center;
}

.Icon {
    flex-shrink: 0;
    justify-content: center;
}

.Seed svg,
.Todo svg {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    padding: .25rem;
}