.Month {
    min-height: 40vh;
    flex: 0 0 33vw;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .4rem 0;
    padding: 0 1rem;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.AvailableSeeds {
    margin-bottom: 1rem;
}


.MonthName {
    text-align: center;
    color: var(--green);
    font-weight: 600;
    padding-top: 1rem;
    padding-left: 1rem;
}

.TodoList {
    padding-bottom: 1rem;
}

.Seed {
    display: flex;
    align-items: center;
}

.Seed svg,
.Icon svg {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    padding: .25rem;
}

@media screen and (max-width: 768px) {
    .Month {
        flex-basis: 100%;
    }
}