.Seed {
    border: 1px solid grey;
    margin-bottom: 1rem;
    padding: 1rem;
}

.Months {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    gap: .25rem;
    margin-bottom: 1rem;
}

.Month {
    padding: 1rem;
    background-color: aliceblue;
    flex-basis: calc(20% - 2rem);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.Month:hover {
    background-color: var(--orange-light);
}

.Month.Active {
    background-color: var(--orange);
    color: white;
}

.ExtLink {
    max-width: 100px;
}

.ExtLink svg {
    width: 100px;
    transition: all 200ms ease;
}

.ExtLink:hover svg {
    fill: var(--green);
}