.Seed {
    border: 1px solid grey;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.Delete {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.Delete svg:hover {
    transform: scale(1.2);
}

.Delete svg {
    width: 20px;
    height: 20px;
    transition: all 200ms ease;
    margin-left: .5rem;
}

.Months {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    gap: .25rem;
    margin-bottom: 1rem;
}

.Month {
    padding: 1rem;
    background-color: aliceblue;
    flex-basis: calc(20% - 2rem);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.Month:hover {
    background-color: var(--orange-light);
}

.Month.Active {
    background-color: var(--orange);
    color: white;
}

.ExtLink {
    max-width: 100px;
}

.ExtLink svg {
    width: 100px;
    transition: all 200ms ease;
}

.ExtLink:hover svg {
    fill: var(--green);
}

.Description {
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Display {
    margin-bottom: 1rem;
}

.Display img {
    max-height: 100px;
    width: 100%;
    object-fit: contain;
}

.disabled {
    color: var(--lightgray)
}