.Seed {
    border: 1px solid grey;
    border-radius: var(--border-radius);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 33vh;
}

.Actions {
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem;
    border-radius: var(--border-radius);
    border: 1px solid grey;

    position: absolute;
    right: 1rem;
    top: 1rem;
    opacity: .5;
    transition: all 200ms;
}

.Actions:hover {
    opacity: 1;
}

.Actions svg:hover {
    transform: scale(1.2);
}

.Actions svg {
    width: 20px;
    height: 20px;
    transition: all 200ms ease;
}

.ExtLink {
    max-width: 100px;
}

.ExtLink svg {
    width: 50px;
    transition: all 200ms ease;
    fill: white;
}

.ExtLink:hover svg {
    fill: var(--green);
}

.Description {
    margin-bottom: .5rem;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Content {
    background-color: rgba(0, 0, 0, .45);
    color: white;
    padding: .5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.Display {
    border-radius: inherit;
    position: absolute;
    inset: 0;
}

.Display img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.disabled {
    color: var(--lightgray);
}

.active {
    color: var(--green)
}