.App {
  font-size: 1rem;
  padding: 0 2rem;
  background-color: #f8efdd2b;
  min-height: 100vh;
}

:global(.success-text) {
  color: var(--success-text-color)
}

:global(a) {
  text-decoration: none;
}

:global(a),
:global(a:visited),
:global(a:visited),
:global(a:focus) {
  color: var(--base-font-color);
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 1rem;
  }
}