.App {
  font-size: 1rem;
  padding: 0 2rem;
}

:global(.success-text) {
  color: var(--success-text-color)
}

:global(a) {
  text-decoration: none;
}

:global(a),
:global(a:visited),
:global(a:visited),
:global(a:focus) {
  color: var(--base-font-color);
}